#new-message-sound {
  visibility: hidden;
}

#user-input, #bot-input {
  flex-grow: 7;
  display:inline-block;
  letter-spacing: .5px;
  font-size: 1em;
  font-weight: 400;
}

#user-submit, #bot-submit{
  flex-grow: 1;
  display:inline-block;
  font-size: 1em;
  letter-spacing: .5px;
}

#user-form, #bot-form {
  margin-left: 4.5%;
  width: 90%;
  position: fixed;
  left:0px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-filler {
  flex-grow:0.2;
}
/*
#space-filler {
  height: 100px;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  bottom: 0px;
}
*/
#user-chat, #bot-chat {
  height: auto;
}

.chat-container {
  width: 100%;
  height: calc(100% - 80px);
}

#thing {
  visibility:hidden
}

#typing-indicator-for-bot {
  /*visibility:hidden*/
}

#typing-indicator-for-user {
  /*visibility:hidden*/
}

.typing-indicator {
  background-color: #d5d6e0;
  width: auto;
  border-radius: 12px 30px 30px 30px;
  padding: 16px;
  display: table;
  margin: 0 0 14px 0px;
  position: relative;

}

.typing-indicator:before, .typing-indicator:after {
  content: '';
/*  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 20px;
  width: 20px;*/
  border-radius: 50%;
  background-color: #E6E7ED;
}

.typing-indicator:after {
  height: 10px;
  width: 10px;
  left: -10px;
  bottom: -10px;
}

.typing-indicator span {
  height: 15px;
  width: 15px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}