#new-message-sound {
  visibility: hidden;
}

#user-input {
/*  flex-grow: 7;*/
  display:inline-block;
  letter-spacing: .5px;
  font-size: 16pt;
  font-weight: 400;
  border: none;
  width: calc(100% - 40px);
  border-radius: 25px 0px 0px 25px;
  padding: 8px;
}

#bot-input {
  display:inline-block;
  letter-spacing: .5px;
  font-size: 16pt;
  font-weight: 400;
  padding: 5px;
  border: 2px solid darkgrey;
  border-radius: 25px;
  width: calc(100% - 80px);
  background-color: white;
  padding: 12px;
}

#user-submit, #bot-submit{
/*  flex-grow: 1;*/
  display:inline-block;
  font-size: 1em;
  letter-spacing: .5px;
  border-radius: 25px;
  width: 50px;
  padding: 5px;
  margin-right: 5px;
}

#user-form, #bot-form {
  margin-left: 0.1%;
  margin-right: 0.1%;
  width: calc(100vw - 40px);
  position: fixed;
  bottom: 20px;
  padding: 5px;
  /*background: rgba(255, 255, 255, 0.95);*/
  /*display: flex;*/
/*  align-items: center;
  justify-content: space-between;*/
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#user-form {
  bottom: 30px;
}

#input-wrap {
  display: flex;
  padding: 5px;
  border: 2px solid darkgrey;
  border-radius: 25px;
  width: calc(100% - 90px);
  background-color: white;
  align-items: center
}

#voice-btn {
  color: #418393;
  background: transparent;
  border: none;
}

.space-filler {
  /*flex-grow:0.2;*/
}

#user-chat, #bot-chat {
  height: auto;
}

.chat-container {
  width: 100%;
  height: calc(100% - 120px);
}

#thing {
  visibility:hidden
}

.typing-indicator {
  background-color: #d5d6e0;
  width: auto;
  border-radius: 12px 30px 30px 30px;
  padding: 16px;
  display: table;
  margin: 0 0 14px 0px;
  position: relative;
  clear:both;

}

.typing-indicator:before, .typing-indicator:after {
  content: '';
/*  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 20px;
  width: 20px;*/
  border-radius: 50%;
  background-color: #E6E7ED;
}

.typing-indicator:after {
  height: 10px;
  width: 10px;
  left: -10px;
  bottom: -10px;
}

.typing-indicator span {
  height: 15px;
  width: 15px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

#speak-msg-div {
  position:fixed;
  right:35px;
  bottom:5px;
  font-size:12pt
  color:'#222'"
}
