/* style bubbles */
.bubble, .bubble-typing {
	color: #212121;
	background: rgba(255, 255, 255, 0.84);
	padding: 10px 16px;
	border-radius: 5px 15px 15px 15px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	font-size: 16px;
	letter-spacing: .5px;
	margin: 0 0 14px 0;
	max-width: 65%;
	float: none;
	clear: both;
	line-height: 1.5em;
	word-break: break-word;
	transform-origin: left top;
	transition: all 200ms;
}
.bubble {
	transition: opacity 150ms;
}

.bubble:not(.say) {
	opacity: 0;
}
.bubble-typing.imagine, .bubble.imagine {
	transform: scale(0);
	transition: all 200ms, height 200ms 1s, padding 200ms 1s;
}
.bubble.imagine {
	margin: 0;
	height: 0;
	padding: 0;
}

img[class="bubble-img"] {
	width: calc(100% + 32px);
	margin: -8px -16px;
	overflow: hidden;
	display: block;
	border-radius: 5px 15px 15px 15px;
}

img[class="icon"] {
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
	margin: 4px;
	display:block;
	clear:both;
}