/* style user input field */
.bubble-container .input-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #2c2c2c;
	background: rgba(255, 255, 255, 0.95);
}

.bubble-container .input-wrap textarea {
	background: url(../image/input_arrow.png) no-repeat 2px 12px;
	background-size: 10px 12px;
	width: calc(100% - 20px);
	color: #2c2c2c;
	font-size: 1em;
	letter-spacing: .5px;
	font-weight: 400;
	margin: 10px;
	border: none;
	padding: 10px 18px;
	outline: none;
	line-height: 1.25em;
}

.bubble.reply-freeform { margin: 0; }

.bubble.reply.reply-freeform.say .bubble-content .bubble-button {
	margin-top: 1px;
	text-align: left;
}

.bubble.reply.say.bubble-hidden {
	margin: 0;
	transform: scale(0);
	height: 0;
}

.def { font-weight: bold; }