{% extends 'layout.html' %}

{% block body %}
<div class="container bubble-container">
	<div class="chat-container bubble-wrap">
		<div id="bot-chat"></div>
	</div>
	<form id="bot-form" method="POST" action='#' autocomplete="off">
		<button type="submit" id="bot-submit" style="font-size:30pt"><i class="fa fa-arrow-circle-up"></i></button>
	    <input type="text" name="bot-input" id="bot-input" placeholder="Type your message here..." required style="font-size:16pt;">
	</form>
</div>
{% endblock %}