<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WoZ ChatBot</title>
        <link rel="stylesheet" media="all" href= "{{ url_for('static', filename='styles/interactive.css') }}">
        <link rel="stylesheet" media="all" href= "{{ url_for('static', filename='styles/reply.css') }}">
        <link rel="stylesheet" media="all" href= "{{ url_for('static', filename='styles/says.css') }}">
        <link rel="stylesheet" media="all" href= "{{ url_for('static', filename='styles/setup.css') }}">
        <link rel="stylesheet" media="all" href= "{{ url_for('static', filename='styles/skeleton.css') }}">
        <link rel="stylesheet" media="all" href= "{{ url_for('static', filename='styles/typing.css') }}">
    </head>
    <body>
    	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src= "{{ url_for('static', filename='js/shortcuts.js') }}"></script>
		<script type="text/javascript" charset="utf-8">
	        $(document).ready(function() {
	            namespace = '';

                // Connect to the Socket.IO server.
                // The connection URL has the following format:
                //     http[s]://<domain>:<port>[/<namespace>]
                var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

                // Retrieve name of user from URL param
                var url = new URL(window.location.href);
                var name = url.searchParams.get("uid");
                if (name == "") {
                    name = "Guest";
                }

                var lastSpeaker = 'user'

                // Event handler for new connections.
                // The callback function is invoked when a connection with the
                // server is established.
                socket.on('connect', function() {
                    // socket.emit('est connection', {data: 'You\'re connected! Begin chatting...', initTime: Date.now()});
                });

                // Event handler for server sent data.
                // The callback function is invoked whenever the server emits data
                // to the client. The data is then displayed in the "Received"
                // section of the page.
                socket.on('chat response', function(msg) {

                    //Variables for chat photo icons
                    var avatar_icon = new Image(30,30);
                    avatar_icon.src = '../static/images/ada_icon.png';
                    avatar_icon.setAttribute("class", "icon");
                    var user_icon = new Image(30,30);
                    user_icon.src = '../static/images/guest_icon.jpg';
                    user_icon.setAttribute("class", "icon");

                    if (msg.name == 'Bot' && msg.data.includes("::avatar::")) {
                        var avatar = new Image();
                        avatar.src = '../static/images/ada_picture.png';
                        avatar.setAttribute("class", "bubble-img");
                        photo_say = document.createElement('div');
                        photo_say.setAttribute("class","bubble say");
                        photo_say.appendChild(avatar);
                        photo_reply = document.createElement('div');
                        photo_reply.setAttribute("class","bubble say reply reply-freeform bubble-button bubble-pick");
                        photo_reply.appendChild(avatar.cloneNode(true));

                        if (lastSpeaker != 'bot') {
                            $('#user-chat').append(avatar_icon);
                            lastSpeaker = 'bot';
                        }
                        $('#user-chat').append(photo_say);
                        $('#bot-chat').append(photo_reply);

                    } else {
                        if (msg.name == 'Bot') {
                            //remove bot's typing bubbles on user interface
                            removeTypingBubbles();

                            // update displayed icon
                            if (lastSpeaker != 'bot') {
                                $('#user-chat').append(avatar_icon);
                                lastSpeaker = 'bot';
                            }
                            //expand out any shortcuts in bot's message
                            msg.data = expandShortcuts(msg.data);
                            //append bot's response to user's chat
                            $('#user-chat').append($('<div class=\"bubble say\"></div>').text(msg.data));
                            //alert user of new bot message
                            audioAlert = document.getElementById("new-message-sound");
                            if (audioAlert) {
                                newMessageAlert();
                            }
                            //append bot's response to bot's chat
                            $('#bot-chat').append($('<div class=\"bubble say reply reply-freeform bubble-button bubble-pick\"></div>').text(msg.data));

                        } else {
                            //append user's question to user's chat
                            $('#user-chat').append($('<div class=\"bubble say reply reply-free-form bubble-button bubble-pick\">').text(msg.data));
                            // update displayed icon
                            if (lastSpeaker != 'user') {
                                $('#bot-chat').append(user_icon);
                                lastSpeaker = 'user';
                            }
                            //append user's question to bot's chat
                            $('#bot-chat').append($('<div class=\"bubble say\">').text(msg.data));

                            //add or refresh bot's typing bubbles on user interface
                            setTimeout(removeTypingBubbles, 300);
                            setTimeout(appendTypingBubbles, 1200);
                        }
                    }
                    setTimeout(updateScroll, 100);
                });

                function createChatDivider(content, icon) {
                    div = document.createElement("div");
                    div.setAttribute("display", "block");
                    div.setAttribute("clear", "both");
                    div.style.width = "100%";
                    div.innerHTML = content;
                    if (icon) div.prepend(icon);
                    return div
                };

                /*
                 * Functions to handle chat animations
                 */
                
                // Function updateScroll: called to auto scroll chat container
                function updateScroll(){
                    var elems = document.getElementsByClassName("chat-container");
                    for (i = 0; i < elems.length; i++){
                        elems[i].scrollTop = elems[i].scrollHeight;
                    }
                };

                // Function createTypingBubbles: creates a typing indicator
                function createTypingBubbles() {
                    var bubbleTyping = document.createElement("div");
                    bubbleTyping.className = "typing-indicator";
                    bubbleTyping.setAttribute("display", "block");
                    bubbleTyping.id = "typing-indicator-for-user";
                    for (dots = 0; dots < 3; dots++) {
                        var dot = document.createElement("span");
                        bubbleTyping.appendChild(dot);
                    }
                    return bubbleTyping;
                };

                //Function appendTypingBubbles: appends typing indicator to user chat log
                //                              if it does not already exist
                function appendTypingBubbles() {
                    indicator = document.getElementById('typing-indicator-for-user');
                    if (!indicator) {
                        $('#user-chat').append(createTypingBubbles());
                    }
                };

                //Function removeTypingBubbles: removes typing indicator from user chat log
                //                              if it exists
                function removeTypingBubbles() {
                    indicator = document.getElementById('typing-indicator-for-user');
                    if (indicator) {
                        indicator.remove();
                    }
                };

                // Handlers for typing bot bubble animations
                var timer = null;
                $('#bot-input').keydown(function(){
                       clearTimeout(timer); 
                       timer = setTimeout(removeTypingBubbles, 1000);
                });

                /*
                 * Event Handlers
                 */

                // Handler for the sign in page
                $('form#set-name').submit(function(event) {
                    username = $('#username').val();
                    socket.emit('sign in', name);
                    window.location = 'user?uid=' + username;
                    return false;
                });

                // Handler for user's chat input
                $('form#user-form').submit(function(event) {
                    socket.emit('chat broadcast', {data: $('#user-input').val(), name:name});
                    document.getElementById("user-form").reset(); //input field cleared upon submit
                    return false;
                });

                // Handler for bot's chat input
                $('form#bot-form').submit(function(event) {
                    socket.emit('chat broadcast', {data: $('#bot-input').val(), name:"Bot"});
                    document.getElementById("bot-form").reset(); //input field cleared upon submit
                    return false;
                });

                // Function: newMessageAlert: plays a sound to alert the user of a new message
                function newMessageAlert() {
                    var sound = document.getElementById("new-message-sound");
                    sound.play();
                };

	        });
    	</script>
    	{% block body %}{% endblock %}
	</body>
</html>
