{% extends 'layout.html' %}

{% block body %}
<audio id="new-message-sound">
	<source src="static/sounds/notification.mp3" autostart="0" width="0" height="0" type="audio/mp3">
</audio>
<div class="container bubble-container">
	<div class="chat-container bubble-wrap">
		<div id="user-chat"></div>
	</div>
	<form id="user-form" method="POST" action='#' autocomplete="off" >
		<button type="submit" id="user-submit" style="font-size:30pt"><i class="fa fa-arrow-circle-up"></i></button>
		<div id="input-wrap">
	   		<textarea name="user-input" id="user-input" placeholder="Type your message" required style="font-size:16pt; min-height: 50px;" ></textarea>
	    	<button id="voice-btn" style="font-size:24px"><i class="fa fa-microphone"></i></button>
	    </div>
	</form>
</div>

{% endblock %}